#do not track those files
tester_7.py
tester_7.1.py

.vscode

# ignore that path
/home/the-barbarian/PycharmProjects/Kodilla/kodilla_bootcamp/Modul_8/Project_0/
/home/the-barbarian/PycharmProjects/Kodilla/kodilla_bootcamp/Modul_8/Project_1/
/home/the-barbarian/PycharmProjects/Kodilla/kodilla_bootcamp/Modul_8/flask_intro
