#do not track those files
tester_7.py
tester_7.1.py

.vscode
env
__pycache__


# ignore that path
#1
Modul_8/Project_0
#2
Modul_8/Project_1
#3
Modul_8/flask_intro
#4
Modul_8/app
#5
PycharmProjects/Kodilla/Test


adventofcode/
html/
projekt_magazyn/
trash/
