{% extends 'base.html' %}

{% block head %}
<title>Tu tworzymy todo i widzimy listę</title>
{% endblock %}

{% block body %}
<h2>Lista Utworów Biblioteki Domowej</h2>

<table>
    <thead>
        <th>Tytuł</th>
        <th>Zespół</th>
        <th>Rodzaj muzyki</th>
        <th>Actions</th>
    </thead>
    {% for song in songs %}
    <tr>
        <td>{{ song.title }}</td>
        <td>{{ song.band }}</td>
        <td>{{ song.genre }}</td>
        <td>
            <a href="/delate/{{song.id}}">Delete</a>
            <br>
            <a href="/update/{{song.id}}">Update</a>
        </td>
    </tr>
    {% endfor %}
</table>
<div>
    <h2> Dodaj nowy utwór: </h2>
    <form method="POST" action="/index.html/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
            <tr>
                <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
{% endblock %}