{% extends 'base.html' %}

{% block head %}
    <title>Song Info</title>
{% endblock %}

{% block body %}
<body>
    <h2> Change: </h2>
    <form method="POST" action="/update/{{ song_id }}/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table><br>
        <input type="submit" value="Submit Changes">
    </form>
</body>
{% endblock %}