{% extends 'base.html' %}

{% block head %}
    <title>About Me</title>
{% endblock %}

{% block body %}

<body>

    <div class="container">

        <header>

        </header>

        <nav>
            <a href="index.html">MENU</a>
            <a href="about_me.html">ABOUT ME</a>
            <a href="contact_me.html">CONTACT</a>
        </nav>


        <main>
            <div class="meet_me">
                <h1>let's meet</h1>
                <p>My name is Marcin. <br> A Python developer in training... <br>Quality Controller with a
                    demonstrated history of working in the food & beverages and manufacturing industry. Skilled in
                    Catering,
                    Food & Beverage, Microsoft Excel, Hospitality Management, and Microsoft Word. Strong operations
                    professional graduated from Stevenson College Edinburgh. </p>
            </div>

        </main>

        <footer>
            <p>Marcin Bizior Copyright 2020©</p>
        </footer>

    </div>

</body>
{% endblock %}