{% extends 'base.html' %}

{% block head %}
<title>My Online Business Card</title>
{% endblock %}

{% block body %}

<body class="index_body">

    <div class="container">

        <header>
            <h1>Welcome to my page.</h1>
        </header>

        <nav>
            <a href="about_me.html">ABOUT ME</a>
            <a href="contact_me.html">CONTACT</a>
        </nav>


        <main>

            <h1>let's meet</h1>

            <div class="meet_me">
                <p>It is lovely to see you here. <br>My name is Marcin Bizior </p>
            </div>



            <img src="{{ url_for('static', filename='my_photo.png')}}"alt="lovely photo of me" class="my-image"><br>
            <a href="https://www.linkedin.com/in/marcin-bizior-792a006b/">Me @ linkedin</a>


        </main>



        <footer>
            <p>Marcin Bizior Copyright 2020©</p>
        </footer>

    </div>


</body>
{% endblock %}