{% extends 'base.html' %}

{% block head %}
<title>Message Send</title>
{% endblock %}

{% block body %}

<body>

    <div class="container">

        <header>
            <h1>Welcome to my first web page.</h1>
        </header>

        <nav>
            <a href="index.html">MENU</a>
            <a href="about_me.html">ABOUT ME</a>
            <a href="contact_me.html">CONTACT</a>
        </nav>


        <main>
            <div class="content">
                <h2 class="sender">Message send successfully.</h2><br>
                    <h3 class="sender2">Drop me an message <br>
                        here:
                    </h3>
                    <form action="contact_me.html" method="POST">
                        <label for="name">First name:</label><br>
                        <input type="text" id="name" name="name"><br>
                        <label for="surname">Last name:</label><br>
                        <input type="text" id="surname" name="surname"><br>
                        <label for="message">Your Message:</label>
                        <textarea name="message" id="message" cols="30" rows="5"></textarea><br>
                        <input type="submit" value="Submit">
                    </form>

            </div>

        </main>

        <footer>
            <p>Marcin Bizior Copyright 2020©</p>
        </footer>

    </div>

</body>
{% endblock %}