html {
    height: 100%;
}
table, th, td {
    border: 1px solid black;
    margin-left:auto; 
    margin-right:auto;
    
}
body {
    text-align: center;
}

.comment {
    font-size: 10px;
    font-style: italic;
}
.starr {
    font-size: 13px;
    font-style: normal;
    color: red
}