h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 44px;
    text-align: center;
}

h2 {
    margin: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 30px;
}
h3 {
    font-size: 15px;    
}
h4 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.content {
    margin: 0 auto;
}

body {
    text-align: center;
}

.result {
    color: rgb(255, 140, 0);
    font-size: 35px;
}